
$colour-primary: #5a3186;
$colour-secondary: #c7b7d2;
$colour-font-primary: #7f7f82;
$colour-font-secondary: #5a3186;

$colour-background-primary: #F5F5F5;

.page-category {
    // border: 1px solid blue;


    .logo {
        // padding-top: 20px;
        width: 100%;
        text-align: center;
        img {
            width: 100%;
            max-width: 100px;
            height: auto;
        }
    }
     .title {
        padding-top: 20px;
        text-align: center;
        font-size: 1.3em;
        color: $colour-font-primary;
    }

    .category {
        text-align: center;
        .thumbnail {
            border-radius: 0px;
            border: 2px solid $colour-primary;
            background: url(../images/thumbnail.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }
        img {
            max-width: 400px;
            width: 100%;
            height: auto;
            // background-color: #FF0000;
        }
        p {
            // border: 1px solid red;
            height: 40px;
            font-size: 14px;
            color: $colour-primary;
            text-align: center;
            // line-height: 3;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        // p {
        //     border: 1px solid red;
        //     height: 45px;
        //     font-size: 14px;
        //     color: $colour-primary;
        //     text-align: center;
        //     line-height: 28px
        //     white-space: normal;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     &:after {
        //         content: " ...";
        //     }
        // }

    }


}
