<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/category.css">
	<link rel="stylesheet" href="styles/content.css">
</head>

<body ng-app="posterAppApp">
	<div class="wrapper">
	<div id="header" class="row header" emit-target>
		<div class="col-xs-12 header-ele header-main" emit-source ng-show="checkLocation('/landing')">
			<div class="background"> </div>
			<div class="border"> </div>
		</div>
		<div class="col-xs-12 header-ele header-category" emit-source ng-show="checkLocation('/category')">
			<a  ng-click="loadQuery('search',fields.searchValue)" class="hidden btn btn-search"> </a>
			<div class="background">
				<p> Distributor Medical Repository </p>
			</div>
			<div class="hidden border"> </div>
		</div>
		<div class="col-xs-12 header-ele header-content" emit-source ng-show="checkLocation('/content')">
			<div class="background">
				<p> {{location.pageName}} </p>
				<!--<p class="slug"> {{location.pageSlug}} </p>-->
				<a ng-href="{{loadPage('#/category')}}" ng-click="resetsearch()" class="btn btn-back"> </a>

				<a ng-click="loadQuery('search',fields.searchValue)" search-toggle class="btn btn-search"> </a>
				<a ng-click="loadQuery('favourites', !fields.favourites)" ng-class="{'active':fields.favourites}" class="btn btn-favourite"> </a>
				<a ng-click="loadPage('refresh')" class="btn btn-refresh" ng-class="{active1: fields.refresh}"> </a>
			</div>
			<!--<div class="border"> </div>-->
		</div>
		<!--<div class="col-xs-12 header-search" ng-show="getQuery('search')">-->
		<div ng-hide="searchcat == false" class="col-xs-12 header-search">
			<input class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="fields.searchValue" placeholder="search">
		</div>
		<!--<div class="col-xs-12 top">
			<div class="col-xs-12 logo"> <p> Staff Rosters </p> </div>

			<div class="button-search" ng-click="toggleSearch();"> <img class="" src="./images/button-search.png"> </div>
			<div class="button-refresh" ng-click="loadPage('refresh')">
				<img class="" ng-class="{active: fields.refresh }" src="./images/button-refresh.png">
			</div>
			<div class="button-favourites" ng-click="toggleFavourites()">
				<img ng-hide="checkLocation('favourites')" src="./images/button-favourites-white.png">
				<img ng-show="checkLocation('favourites')" src="./images/button-favourites-yellow.png">
			</div>
		</div>-->
		<!--<div class="col-xs-12 search" ng-class="{ active: checkLocation('/search')}">
			<div class="col-xs-12">
				<input type="text" class="form-control" ng-model="fields.searchValue" placeholder="search..">
			</div>
		</div>-->


		<!--<div class="col-xs-12 nav">
			<div class="col-xs-6 button" ng-class="{ active: getCurrentPage().indexOf('/all') !== -1 }" ng-click="loadPage('/all')" >
				<p class="text"> All {{fields.appTypes}} </p>
			</div>
			<div class="col-xs-6 button" ng-class="{ active: getCurrentPage().indexOf('/favourites') !== -1 }" ng-click="loadPage('/favourites')" >
				<p class="text"> Favourites </p>
			</div>
		</div>-->
	</div>
	<!--<div class="col-xs-12 filter">
		<div class="col-xs-12 bottom">
			<div class="header-image">
				<img src="./images/logo.png">
			</div>
		</div>
	</div>-->

	<div class="page {{pageClass}}" ng-style="{ 'height': '93%','top': dom.headerHeight+'px' }" ng-view=""></div>


	<div id="footer" class="row footer">
		<div class="col-xs-12 footer-ele footer-main" ng-show="checkLocation('/')">
			<div class="border"> </div>
			<div class="background"> </div>
		</div>
		<!--<div class="footer-image">
			<img src="./images/logo.png">
		</div>
		<div class="footer-bg"> </div>-->
	</div>
	<!--<div ng-show="fields.popupInstructions" class="popupInstructions">
		<div id="close" class="" ng-click="fields.popupInstructions = false;"> <img src="./images/instructions-close.png"> </div>
		<div id="search" class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-6"> <img src="./images/instructions-search.png"> </div>
		<div id="plus" class="col-xs-10 col-sm-offset-5 col-sm-6"> <img src="./images/instructions-plus.png"> </div>
		<div id="tap" class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-6"> <img src="./images/instructions-tap.png"> </div>
		<div id="tip" class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6"> <img src="./images/instructions-tip.png"> </div>
	</div>-->

	<div class="loading-cover" ng-show="fields.loading">
	<!--<div class="loading-cover">-->
		<div class="loading-header"> </div>
		<div class="background">
			<div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 image">
				<!--<img class="" src="./images/loading-rosters.png">-->
			</div>
			<div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 loading-logo">
				<!--<img class="" src="./images/logo.png">-->
			</div>
		</div>
		<div class="loading-footer"> </div>
	</div>

</div>
	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<!-- endbower -->
	<!-- endbuild -->


	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/cosmicjs.browser.min.js"></script>
	<script src="scripts/interact.cosmic.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/category.js"></script>
	<script src="scripts/controllers/content.js"></script>




	<!--<script src="scripts/controllers/favourites.js"></script>-->
	<!--<script src="scripts/controllers/about.js"></script>-->
	<!--<script src="scripts/controllers/saved.js"></script>-->
	<!--<script src="scripts/controllers/search.js"></script>-->
	<!--<script src="scripts/controllers/viewer.js"></script>-->
	<!-- endbuild -->



	<!--<script>
          function bootstrapAngular() {
            console.log("Bootstrapping AngularJS");
            // This assumes your app is named "app" and is on the body tag: <body ng-app="app">
            // Change the selector from "body" to whatever you need
            var domElement = document.querySelector('body');
            // Change the application name from "app" if needed
            angular.bootstrap(domElement, ['posterAppApp']);
          }
          bootstrapAngular();
        </script>-->
</body>

</html>
