<div class="row page-category">
        <div class="logo">
            <img src="./images/logo.png">
        </div>
    <div class="row">
        <div class="content">
            <p class="title"> Distributor Medical Repository </p>
        </div>
    </div>
    <div class="row">
        <!--<p> {{filtered.length}} </p>-->
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 category" ng-repeat="item in filtered = (data.categories | categoryFilter:fields)">
            <a class="thumbnail" ng-click="setPageSlug(item)" ng-href="{{loadPage('#/content:'+encodeURL(item.metafield.name.value))}}" ng-style="{ 'background-image': 'url('+checkValidImage(item.metafield.imageURL.value)+')','background-size': '55%'}">

                <!--ng-style="{ 'height': rootFields.overflowHeight+'px','top': rootFields.headerHeight+'px' }" ng-view=""></div>-->
                <img src="./images/default.png">
            </a>
            <!--<img ng-src="{{checkValidImage(item.metafield.imageURL.value)}}">-->
            <p> {{item.metafield.name.value}} </p>
        </div>
    </div>

</div>
