<div class="row page-main">
        
    <div class="row">
        <div class="content"> 
            <p class="title"> Distributor Medical Repository </p>
            <p> The information contained in this repository is
            for the use of medical staff in Distributor
            Companies appointed by Vertex;
            it is intended for internal use only and is not for
            external distribution or demonstration. </p>
        </div>
    </div>
    <div class="row">
        <div class="btn-enter">
            <a ng-href="{{loadPage('#/category')}}" class="button btn"> I AGREE </a>
        </div>
    </div>
    
        <div class="logo"> 
            <img src="./images/logo.png">
        </div>
</div>